@media (max-width: 1200px) {
	
}

@media (max-width: 991px) {
	.container {
		margin: 0px 35px;
	}
	.advantages {
		&__item {
			max-width: 200px;
		}
	}
	.carousel {
		.slick-dots {
			display: flex;
			justify-content: center;
			padding: 0px;
			li {
				list-style: none;
				margin-right: 5px;
				margin-left: 5px;
				button {
					width: 25px;
					height: 25px;
					border-radius: 100%;
					background-color: #fff;
					border: none;
					transition: 0.5s all;
				}
			}
			.slick-active {
				button {
					background-color: $main-color;
					color: #fff;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.header {
		&__phone {
			font-size: 17px;
		}
		&__official {
			display: none;
		}
	}
	.advantages {
		&__wrapper {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}
		&__item {
			max-width: 300px;
			margin-top: 30px;
		}
		&__subtitle {
			margin-top: 5px;
		}
		&__descr {
			margin-top: 10px;
		}
	}
	.carousel {
		&__inner {
			width: 505px;
		}
	}
}

@media (max-width: 575px) {
	.header {
		display: block;
		&__contacts {
			margin-top: 10px;
		}
		&__phone {
			font-size: 15px;
		}
		button {
			width: 100%;
		}
	}
	.promo {
		padding-bottom: 50px;
		&__wrapper {
			margin-top: 40px;
		}
		&__title {
			font-size: 32px;
		}
		&__subtitle {
			font-size: 17px;
		}
		&__icons {
			display: block;
			width: 100%;
			height: 100%;
			margin-top: 20px;
			img {
				display: inline-block;
			}
		}
		&__icon {
			width: 100%;
			text-align: left;
		}
		.button {
			&-main {
				width: 100%;
				margin-top: 30px;
			}
		}
	}
	.consultation {
		padding: 60px 0px 60px;
		&__descr {
			margin-top: 45px;
		}
	}
	.title {
		&_left {
			font-size: 30px;
		}
	}
	.feed-form {
		width: 250px;
	}
	.carousel {
		padding: 50px 0px;
		&__inner {
			width: 250px;
		}
	}
	.catalog {
		padding-bottom: 40px;
		&__tabs {
			flex-direction: column;
			margin-top: 40px !important;
			li {
				margin-bottom: 30px;
			}
		}
		&__tab {
			margin-bottom: 30px;
		}
		&__content {
			margin-top: 40px !important;
		}
	}
}