.button {
	width: 152px;
	height: 32px;
	background: $main-color;
	border-radius: 5px;
	border: none;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	text-transform: uppercase;
	&_main {
		margin-top: 65px;
		width: 302px;
		height: 52px;
		font-size: 16px;
	}
}